* {
    box-sizing: border-box;
}

html {
    word-break: keep-all;
    font-family: Pretendard, sans-serif;
    font-size: 16px;
    line-height: 19px;
}

body {
    background-color: #F7F6F9;
    color: #000000;
}
header {
    height: 80px;
    padding: 16px;
    background-color: #FFFFFF;
    font-weight: 700;
    box-shadow: 0 4px 4px 1px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    width: 100%;
}

.banner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.banner-title {
    margin: auto 80px;
    color: #7C00FF;
    font-weight: bold;
}

.charts-see-all {
    margin: auto 30px;
    display: flex;
    flex-direction: row;
}

.go-login{
    display: inline-block;
    margin: auto 20px;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    color: black;
}
.go-start{
    background-color: #7C00FF;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin:auto 15px;
}
.go-go{
    display: inline-block;
    margin: auto 5px;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    color: #FFFFFF;
}

.container{
    width: 1750px;
    height: 750px;
    padding: 60px;
    margin: 130px auto 20px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 2px 1px 10px 1px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
