* {
    box-sizing: border-box;
}

html {
    word-break: keep-all;
    font-family: Pretendard, sans-serif;
    font-size: 16px;
    line-height: 19px;
}

body {
    background-color: #F7F6F9;
    color: #000000;
    margin: 0;
}
header {
    height: 80px;
    padding: 16px;
    background-color: #FFFFFF;
    font-weight: 700;
    box-shadow: 0 4px 4px 1px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    width: 100%;
}

.banner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.banner-title {
    margin: auto 80px;
    color: #7C00FF;
    font-weight: bold;
}

.charts-see-all {
    margin: auto 30px;
}

.go-login{
    display: inline-block;
    margin: auto 20px;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    color: black;
}
.go-start{
    background-color: #7C00FF;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin:auto 15px;
}
.go-go{
    display: inline-block;
    margin: auto 5px;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    color: #FFFFFF;
}

.container{
    width: 600px;
    padding: 60px;
    margin: 130px auto 60px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 2px 1px 10px 1px rgba(0,0,0,0.1);
}

.la-t {
    color: #2c2c2c;
    display: block;
    margin: 16px 0 8px;
}

.in-t {
    border: none;
    background-color: #F7F6F9;
    border-radius: 5px;
    color: #ababab;
    display: block;
    line-height: 24px;
    margin: 8px 0;
    padding: 16px 24px;
    width: 100%;
}

.check{
    position: relative;
}

.check button {
    position: absolute;
    width: 60px;
    height: 40px;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto 0;
    border-radius: 5px;
    background-color: #7C00FF;
    color: white;
    border: none;
}

/* input 숨겨준다 */
input[type=checkbox]{
    display:none;
}

input[type=checkbox]+ label{
    cursor:pointer;
}

input[type=checkbox] + label > span{
    vertical-align: middle;
    padding-left: 5px;
}

/* label:before에 체크하기 전 상태 CSS */
input[type=checkbox] + label:before{
    content:"";
    display:inline-block;
    width:17px;
    height:17px;
    border:2px solid #7C00FF;
    border-radius: 4px;
    vertical-align:middle;
}

/* label:before에 체크 된 상태 CSS */
input[type=checkbox]:checked + label:before{
    content:'✔';
    color: white;
    background-color:#7C00FF;
    border-color:#7C00FF;
    background-repeat: no-repeat;
    background-position: 50%;
}


.rec-but{
    background-color: #7C00FF;
    border: none;
    width: 100px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    height: 40px;
    margin: 10px 10px 0px 0px;
}

.login-but {
    background-color: #7C00FF;
    border: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    margin: 24px 0;
    display: block;
    padding: 16px;
    width: 100%;
    border-radius: 5px;
}


.login{
    margin: 30px auto;
    width: 360px;

}

.login-title{
    font-size: 36px;
    font-weight: 700;
    margin: 24px 0;
    color: #4e4e4e;
    text-align: center;
}